* {
    margin: 0;
padding: 0;
}

.container {
    height: 100vh;
    background-color: blueviolet;
    /* posicionamento flex */
        display: flex;
        /* direção padrão  = row */
        flex-direction: row; /* row ou coluna*/
        flex-wrap: wrap;

        /* alinhamento no sentido da linha (row) - horizontal */
        /* center,space -around */

        justify-content: space-around;

        /* alinhamento vertical */
        /* start, center, end */
        align-items: center;
}

.filho {
    background: red;
    width: 40%;
    height: 40%;
    border: 1px solid black;
    font-size: 10px;
    
}